nav {
   display: flex;
   color: white;
   flex-direction: row;
   /* background-color: #ddd; */
   align-self: stretch;
   height: 76px;
   border-bottom: 2px solid #221E37; 
   margin: 0 auto;
   align-items: center;

}

.logo {
    display: flex;
    font-size: 36px;
    margin-left: 85px;
    font-family: 'Roboto', sans-serif;
}

.bridge {
    width: 10%;
}

.minting {
    width: 15%;
}

.ether {
    width: 25%;
}

.wallet {
    width: 25%;
    padding-right: 100px;
}
