.section {
    /* background-color: blue;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);  */
}

.heading {
    padding-top: 5%;
    padding-left: 85px;
    text-align: left;
    color: white;
}

h1 {
    font-size: 48px;
    margin-bottom: 12px;
}

p {
    margin-top: 0;
    font-size: 17px;
    margin-bottom: 34px;
}